#footer
  p Written from scratch in node with Express, Jade and Stylus

  script(src="http://w.sharethis.com/button/buttons.js")
  script stLight.options({publisher: "7a2ce67d-4030-4e60-ad72-ac95cb1be99e", doNotHash: false, doNotCopy: false, hashAddressBar: false});
