extend layout

block content
  .content-body
    :markdown
      # Articles

      ### Techincal

      *  [Kickstart to Vim](/technical?aname=vim)

      *  [TTY Magic in Linux](/technical?aname=tty)

      *  [Running Windows inside Arch (and never having to leave Arch again)](/technical?aname=vbox)

      ### Musings

      *  [My Voyage through the seas of programming](/musings?aname=voyage)

block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.

