extend layouts/noside-layout

block content
  .content-body
    a(target="_blank", href="https://in.linkedin.com/pub/saksham-sharma/b2/230/204")
      img(src="/img/linkedin.png").displayed
    a(target="_blank", href="https://github.com/saksham0808")
      img(src="/img/github.png").displayed
    a(target="_blank", href="https://facebook.com/saksham08")
      img(src="/img/facebook.png").displayed
    a(target="_blank", href="https://instagram.com/saksham0808")
      img(src="/img/instagram.png").displayed
