extend cvlayout

block content
  cv.
    <div class="row">
      <div class="col-sm-6">
        <h3 align="center">Experience and Positions held:</h3>
        <table class="table table-hover table-striped">
          <tbody>
            <tr><td>2015</td><td>Microsoft code.fun.do winning team member</td></tr>
            <tr><td></td><td>Designed a graphing app which could plot all kinds of implicit 2D mathematical functions.</td></tr>
            <tr><td>2014-2015</td><td>Member, Team Robocon, IIT Kanpur</td></tr>
            <tr><td></td><td>Worked on making semi autonomous Badminton playing robots using Image Processing.</td></tr>
            <tr><td>2015-Present</td><td>Secretary, Programming Club, IIT Kanpur</td></tr>
            <tr><td></td><td></td></tr>
            <tr><td>2014-2015</td><td>Winner at BlackBox event and 7th overall in Chaos event </td></tr>
            <tr><td></td><td>Campus level Esoteric language programming contests during Takneek and Techkriti events respectively.</td></tr>
            <tr><td>2012</td><td>Team Leader - International 1st Prize in NASA AMES Space Settlement Design Contest</td></tr>
            <tr><td></td><td>Designed in detail a Space Settlement capable of settling 14000 permanent residents in orbit around the earth.</td></tr>
          </tbody>
        </table>
      </div>
      
      <div class="col-sm-6">
        <h3 align="center">Academic achievements and awards:</h3>
        <table class="table table-hover">
          <tbody>
            <tr><td>2014-15</td><td>Cumulative Point Index of 10.0 after Semester I and II.</td></tr>
            <tr><td>2014</td><td>All India Rank <mark>138</mark> in Joint Entrance Exam Advanced 2014 among 150,000 candidates.</td></tr>
            <tr><td>2014</td><td>All India Rank <mark>10</mark> in Joint Entrance Exam Mains 2014 among 1.5 million candidates.</td></tr>
            <tr><td>2014</td><td>Received the Aditya Birla Group Scholarship among 15 other IITans.</td></tr>
            <tr><td>2013</td><td>Received the Kishore Vigyanik Protsahn Yogna (KVPY) Scholarship.</td></tr>
            <tr><td>2010</td><td>Received the National Talent Search Examination (NTSE) Scholarship.</td></tr>
            <tr><td>2012-13</td><td>Qualified National Standard Examination in Physics (NSEP), coming in national 400 twice.</td></tr>
            <tr><td>2013</td><td>Qualified Regional Mathematics Olympiad Level 1.</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h3 align="center">Technical skills:</h3>
        <table class="table table-hover">
              <tbody align="center">
              <tr><td><div id="skill"><a title="Expert">C++</a>, <a title="Proficient">Python</a>, <a title="Proficient">Java</a>, <a title="Intermediate">C#</a>, <a title="Expert">Shell Scripting</a> </div></td></tr>
              <tr><td><div id="skill"><a title="Proficient">HTML/CSS</a>, <a title="Proficient">Node.js</a>, <a title="Proficient">JavaScript</a>, <a title="Intermediate">PHP</a>, <a title="Intermediate">Scala</a>, <a title="Proficient">Bootstrap</a></div></td></tr>
              <tr><td><div id="skill">Linux (<a title="Expert">Arch Linux</a> and <a title="Proficient">Debian</a> based distributions)</td></tr>
              <tr><td><div id="skill"><a title="Proficient">OpenCV</a>, <a title="Intermediate">Matlab/Octave</a></td></tr>
              <tr><td><div id="skill"><a title="Proficient">Windows phone</a> and <a title="Beginner">Android</a> app developmenti</div></td></tr>
              <tr><td><div id="skill"><a title="Expert">Vim</a>, <a title="Expert">Git</a>, <a title="Expert">Regex</a>, various other CLI utilities.</div></td></tr>
              <tr><td><div id="skill"><a title="Intermediate">Microsoft Kinect</a>, <a title="Intermediate">Arduino</a></div></td></tr>
              <tr><td><div id="skill"><a title="Proficient">Microsoft Visual Studio</a>, <a title="Proficient">Microsoft Windows</a>, <a title="Proficient">Microsoft Office</a></div></td></tr>
              </tbody>
        </table>
      </div>

      <div class="col-sm-3">
        <h3 align="center">Education:</h3>
        <table class="table table-hover table-striped">
          <tbody align="left">
            <tr><td>2014-Present</td><td>Bachelor of Technology, Computer Science and Engineering</td></tr>
            <tr><td></td><td>Indian Institute of Technology, Kanpur. Current CPI <mark>10.0</mark></td></tr>
            <tr><td>2014</td><td>AISSCE, Class 12, CBSE Board</td></tr>
            <tr><td></td><td>D.A.V. Public School, Amritsar. Overall <mark>97.6%</mark></td></tr>
            <tr><td>2012</td><td>Class 10, CBSE Board</td></tr>
            <tr><td></td><td>D.A.V. Public School, Amritsar. CGPA <mark>10.0</mark></td></tr>
          </tbody>
        </table>          
      </div>

      <div class="col-sm-3">
        <h3 align="center">Topics of interest:</h3>
        <table class="table table-hover">
          <tbody align="center">
            <tr><td>Software and App development</td></tr>
            <tr><td>Linux and Open Source</td></tr>
            <tr><td>Web Development</td></tr>
            <tr><td>Algorithms</td></tr>
            <tr><td>Machine Learning</td></tr>
            <tr><td>Image Processing</td></tr>
          </tbody>
        </table>
      </div>

      <div class="col-sm-3">
        <h3 align="center"">Relevant courses:</h3>
        <table class="table table-hover">
          <tbody align="center"">
            <tr><td>Introduction to Programming - Received A* grade for exceptional performance.</td></tr>
            <tr><td>Linear Algebra</td></tr>
            <tr><td>Introduction to Calculus</td></tr>
            <tr><td>Ordinary differential equations</td></tr>
            <tr><td>Mechanics</td></tr>
            <tr><td>Electrodynamics</td></tr>
            <tr><td>Informatics Practices (Senior Secondary School)</td></tr>
          </tbody>
        </table>
      </div>

      <script type="text/javascript">
      $(document).ready(function() {
                $('#skill a[title]').qtip({
                  content: {
                  text: false
                  },
                  style: 'cream'
                  });
      });
      </script>

block sidebar
