doctype
html
  head
    title #{title} - AceHack
    link(rel='stylesheet', href='/bootstrap/custom-bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"')

  body
    header
      .container-fluid
        .col-lg-2
          div(style="float: left;")
            img(src= '/img/ace.png' height= '45px;')
          div(style="float: left; margin-left: 10px; margin-top: 3px;")
            h1 AceHack
        .col-xs-10
          a(href="/") Home
          a(href="/cv") CV
          a(href="/articles") Articles
          a(href="/almanac") Almanac
          a(href="/photograph") Photography
          a(href="https://github.com/saksham0808", target="_blank") GitHub
          a(href="/contact") Contact

    .container-fluid
      .col-md-3
        .col-md-2
        .col-md-10.sidebar
          .widget
            h1(style= 'text-align: center;') Saksham Sharma
            img.img-rounded.displayed(src= '/img/me.jpg' width= '70%')
            div(style="margin-left: 12px; text-align: center;")
              h4 B.Tech 2nd Year
              h4 Computer Science and Engineering
              h4 IIT Kanpur
      .col-md-6
        block content
      .col-md-3
        .col-md-10.sidebar
          .widget
            h1(style= 'text-align: center;') New Articles
            for item in technical
              a(href= "#{item.Url}") #{item.Name}
              p #{item.Snippet}
            <hr>

    footer
      p Written from scratch in node with Express, Jade and Stylus
