doctype
html
  head
    title #{title} - AceHack
    link(rel='stylesheet', href='/stylesheets/custombootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"')

  body
    header
      .container-fluid
        .col-sm-3
          h1 AceHack
        .col-sm-9
          a(href="/") Home
          a(href="/cv") CV
          a(href="/articles") Articles
          a(href="/almanac") Almanac
          a(href="/photograph") Photography
          a(href="/github") GitHub
          a(href="/contact") Contact

    .container
      .col-sm-9
        block content
      .col-sm-3.sidebar
        block sidebar
    footer
      p Written from scratch in node with Express, Jade and Stylus
