@import url("http://fonts.googleapis.com/css?family=Quicksand");
body {
  font-family: 'Georgia';
  background-color: #faf9f0;
  color: #444;
}
header {
  font-family: 'Quicksand';
  padding: 10px 10px;
  color: #fff;
  margin-bottom: 30px;
  font-size: 30px;
  background-color: #fa5b4d;
  border-bottom: 1px solid #df1806;
  text-shadow: 0px -1px 0px #df1806;
}
header h1 {
  font-size: 30px;
  margin-top: 3px;
}
header a {
  display: block;
  float: left;
  margin-left: 20px;
  margin-top: 5px;
  color: #fff;
  font-size: 23px;
  text-align: center;
  -webkit-transition: font-size 0.6s;
  -moz-transition: font-size 0.6s;
  -o-transition: font-size 0.6s;
  -ms-transition: font-size 0.6s;
  transition: font-size 0.6s;
}
header a:hover {
  text-decoration: none;
}
.container-custom {
  width: 500px;
  margin: 50px auto;
  overflow: hidden;
}
.main-content {
  float: left;
}
.main-content p {
  margin-bottom: 20px;
}
.content-body {
  font-size: 16px;
}
img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.sidebar {
  float: left;
}
.sidebar .widget {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #faf9f0;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.sidebar .widget h1 {
  font-family: 'Quicksand';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.sidebar .widget h3 {
  margin-left: 10px;
}
.sidebar .widget p {
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
.sidebar .widget a {
  margin-left: 10px;
  align: center;
}
p {
  line-height: 1.8;
}
#skill a {
  color: #337;
}
#skill a:hover {
  text-decoration: none;
}
footer {
  width: 500px;
  margin: 50px auto;
  text-align: center;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
